<div class="row">
    <div class="col-sm-6, col-md-6">
    <h2>User Registration</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname"
                formControlName="firstname">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname"
                formControlName="lastname">                     
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"
                formControlName="email">                     
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password"
                formControlName="password">                     
        </div>

          
        <button type="submit" [disabled]="userForm.invalid" class="btn btn-success">Submit</button>
    </form>
        <div class="row"> 
          <div class="col-sm-6, col-md-6">
            <div class="alert alert-info" *ngIf=isAdded>
              <p>User Added SuccessFully!</p>
              <button class="btn btn-primary" (click)="resetUserForm()">Add another user</button>
            </div>
          </div>  
        </div>
    </div>
</div>