<div class="formAddSport">
    <div class="col-sm-6, col-md-6">
    <h2>User Registration</h2>
    <form appearance="fill" [formGroup]="sportForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="sport">Choose sport</label>
        <select class="form-control"  id="sport" 
        formControlName="sport" required
        (ngModelChange)="onChangeSport($event.value)">
          <option value="" disabled>Choose your sport</option>
          <option *ngFor="let sp of sports" [ngValue]="sp" >{{sp.display}}</option>
        </select>
      </div>

        <div class="form-group">
            <label for="distance">Distance (km)</label>
            <input matInput (ngModelChange)="onChangeDistance($event)" type="number" class="form-control" id="distance" min="0"
                formControlName="distance" >
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="debut">Début</label>
                <input matInput (ngModelChange)="onChangeDateDebut($event)" type="datetime-local" class="form-control" id="debut"
                    formControlName="debut" >
            </div>
            <div class="form-group col-md-6">
                <label for="fin">Fin</label>
                <input matInput (ngModelChange)="onChangeDateFin($event)" type="datetime-local" class="form-control" id="fin"
                    formControlName="fin" >                     
            </div>
        </div>

        <div class="form-group">
            <label for="vitesse">Speed (km/h)</label>
            <input  matInput type="number" class="form-control" id="vitesse" min="0" readonly
            formControlName="vitesse" [value]="vitesseCalc" >                   
        </div>

        <div class="form-group">
          <label for="urlImage">Image (url)</label>
          <input  matInput type="text" class="form-control" id="vitesse" 
          formControlName="urlImage" >                   
      </div>

        <div *ngIf="isCap">
          <div class="form-group">
            <label for="bpm">Heart Rate (bpm/m)</label>
            <input matInput type="number" class="form-control" id="bpm" min="0"
                formControlName="bpm">                     
        </div>
        </div>

          
        <button type="submit" [disabled]="sportForm.invalid" class="btn btn-success">Submit</button>
      </form>
        <div class="row"> 
          <div class="col-sm-6, col-md-6">
            <div class="alert alert-info" *ngIf=isAdded>
              <p>Sport Added SuccessFully!</p>
              <button class="btn btn-primary" (click)="resetSportForm()">Add another sport</button>
            </div>
          </div>  
        </div>
    </div>
</div>